<header class="masthead  text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/memento (1).jpg" alt="..." />
        <button mat-button class="btn btn-large" color="primary">Learn More <i class="fas fa-right"></i></button>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">R-Memento </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Can't Wait for the next Holiday?</p>
    </div>
</header>